.Form{
    margin-top:10px;
    display:flex;
    flex-direction: column;
    width: 260px;
    height: 400px;
    background:wheat;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.Form image{
    height: 200px;
    width: 200px;

}